.template-home {
  .page-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 0;
    margin: 2rem 0;
    padding: 2rem 0;
    border-bottom: 1px solid #efefef;

    h1 {
      margin-top: 0rem;
    }

    @include media-breakpoint-down(sm) {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
    }
  }
  img.logo {
    margin-left: 0;

    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}

nav.navbar {
  border-bottom: 1px solid #efefef;
  padding: 1rem 0;
}
